<h1 id='title'>Letnář rework</h1>
<div class="ui divided grid">
  <div class="two wide column">
    <div class="ui secondary vertical pointing menu">
      {{#link-to 'categories.index' class="item"}}
        Vše
      {{/link-to}}

      {{#each category in model}}
        {{#link-to 'categories.show' category class="item"}}
          {{category.name}}
        {{/link-to}}
      {{/each}}
    </div>
  </div>

  <div class="ten wide column">
    {{google-map latitude="50.1015737" longitude="14.4253931" contacts=contacts}}
  </div>

  <div class="four wide column">
    {{outlet}}
  </div>
</div>
